opencv-contrib-python==4.11.0.86
mediapipe==0.10.21
numpy==1.26.4
torch==2.6.0
torchvision==0.21.0
librosa==0.10.2.post1
sounddevice==0.5.2
soundfile==0.13.1
scipy==1.15.3
scikit-learn==1.6.1
pillow==11.2.1
matplotlib==3.10.1
pandas==2.2.3
joblib==1.4.2
pyaudio==0.2.14
protobuf==4.25.9
tensorflow==2.19.0